<div class="box">
    <div class="grid grid-cols-12 gap-3">
        <div class="col-span-3 lg:col-span-1">
            <div class="w-[3rem] h-[3rem]">
                <img
                    class="w-full h-full rounded-full"
                    src="https://imgs.search.brave.com/nwTrFcQh2znPv4BND6D6uQlSOzm1kLizS9qx6AEmuBo/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMucGV4ZWxzLmNv/bS9waG90b3MvMjA3/NjU5Ni9wZXhlbHMt/cGhvdG8tMjA3NjU5/Ni5qcGVnP2F1dG89/Y29tcHJlc3MmY3M9/dGlueXNyZ2ImZHBy/PTEmdz01MDA"
                    alt=""
                >
            </div>
        </div>
        <div class="col-span-6 lg:col-span-9">
            <div class="space-y-2">
                <div>
                    <p class="font-seminbold text-lg">Gaurav Karakoti</p>
                    <p class="opacity-70">Nov 7, 2025</p>
                </div>
                <div>
                    <app-star-rating/>
                </div>
                <p>
                    Nice Product, I like white kurta
                </p>
            </div>
        </div>
    </div>
</div>